In [5]:
import pandas as pd
import numpy as np

In [7]:
url = 'C:/Users/lgino/code/Lothardill/Hospitalis/table_clean.csv'
df = pd.read_csv(url)
df.dtypes

C:\Users\lgino\AppData\Local\Temp\ipykernel_14856\4075692739.py:2: DtypeWarning: Columns (2,4,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

Unnamed: 0           int64
Fournisseur         object
Routage             object
Robot ETS           object
Date Insertion      object
Commande            object
Dépôt DMI          float64
Réf. Article        object
Libellé Article     object
Quantité            object
Prix HT            float64
Prix TTC           float64
Mnt HT             float64
Mnt TTC            float64
dtype: object

In [11]:
df['Libellé Article'] = df['Libellé Article'].astype(str)
df["Quantité"] = (df["Quantité"].str.replace(",", ".", regex=False).astype(float))
df['Quantité'] = df['Quantité'].fillna(0)
df["Quantité"] = (df["Quantité"].round(0).astype(int))
df['Dépôt DMI'] = df['Dépôt DMI'].replace("NULL", "0", regex=False)
df['Dépôt DMI'] = df['Dépôt DMI'].fillna(0)
df["Dépôt DMI"] = (df["Dépôt DMI"].astype(int))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5953297 entries, 0 to 5953296
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   Fournisseur      object
 2   Routage          object
 3   Robot ETS        object
 4   Date Insertion   object
 5   Commande         object
 6   Dépôt DMI        int32
 7   Réf. Article     object
 8   Libellé Article  object
 9   Quantité         int32
 10  Prix HT          float64
 11  Prix TTC         float64
 12  Mnt HT           float64
 13  Mnt TTC          float64
dtypes: float64(4), int32(2), int64(1), object(7)
memory usage: 590.5+ MB

In [15]:
# prompt: je veux metre toute mes prix et quantité et mnt de mon df_AA833BB en float

for col in ['Prix HT','Prix TTC', 'Quantité', 'Mnt HT', 'Mnt TTC']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Display the data types to confirm the change
df.dtypes

Unnamed: 0           int64
Fournisseur         object
Routage             object
Robot ETS           object
Date Insertion      object
Commande            object
Dépôt DMI            int32
Réf. Article        object
Libellé Article     object
Quantité             int32
Prix HT            float64
Prix TTC           float64
Mnt HT             float64
Mnt TTC            float64
dtype: object

In [17]:
df['prix'] = np.where(
    (df[['Prix HT', 'Prix TTC', 'Mnt HT', 'Mnt TTC']].fillna(0) == 0).all(axis=1),  # Si toutes ces colonnes sont NaN ou 0
    np.NaN,  # On met NaN dans prix
    np.where(pd.notna(df['Prix HT']), df['Prix HT'],
    np.where(pd.notna(df['Prix TTC']), df['Prix TTC'] * 0.8,
    np.where(pd.notna(df['Mnt HT']) & (df['Quantité'] > 0), df['Mnt HT'] / df['Quantité'],
    np.where(pd.notna(df['Mnt TTC']) & (df['Quantité'] > 0), (df['Mnt TTC'] * 0.8) / df['Quantité'],
    np.NaN))  # Sinon, NaN par défaut
    )))
df

,Unnamed: 0,Fournisseur,Routage,Robot ETS,Date Insertion,Commande,Dépôt DMI,Réf. Article,Libellé Article,Quantité,Prix HT,Prix TTC,Mnt HT,Mnt TTC,prix
0,0,AA0B7BB,0B7,01B,2024-06-04 13:28:47.420,ACPHD2406-0035,0,111815,AIG HYPODERMIQUE 18G 40MM RUPTURE SWITCH REF 3...,0,0.0144,0.0173,NaN,519.00,0.0144
1,1,AA0B7BB,0B7,01B,2024-06-04 13:28:47.420,ACPHD2406-0035,0,112310,AIG HYPODERMIQUE 23G 25MM,0,0.0144,0.0173,NaN,6.92,0.0144
2,2,AA0B7BB,0B7,01B,2024-06-25 13:55:46.790,ACPHD2406-0152,0,111815,AIG HYPODERMIQUE 18G 40MM RUPTURE SWITCH REF 3...,0,0.0144,0.0173,NaN,778.50,0.0144
3,3,AA0B7BB,0B7,01B,2024-06-25 13:55:46.790,ACPHD2406-0152,0,RACDLLM,RACCORD DOUBLE LL M/M RUPTURE SWITCH REF 00893.00,0,0.1160,0.1392,NaN,27.84,0.1160
4,4,AA0B7BB,0B7,01B,2024-07-23 13:42:34.117,ACPHD2407-0170,0,111815,AIG HYPODERMIQUE 18G 40MM RUPTURE SWITCH REF 3...,0,0.0144,0.0173,NaN,519.00,0.0144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953292,5953292,AA16ABB,16A,LU2,2024-07-16 10:18:31.190,327962,0,0620050100,TUBULURE STANDARD PNEUMOCEAR SET BT E DE 10 (U...,0,NaN,NaN,NaN,NaN,NaN
5953293,5953293,AA16ABB,MAI,LU2,2024-07-23 10:27:30.730,328193,0,0375545000,COUTEAU TOMCAT 4 MM BTE/5 (Unite : UNIT?),0,NaN,NaN,NaN,NaN,NaN
5953294,5953294,AA16ABB,MAI,LU2,2024-07-23 10:27:30.730,328193,0,0475561000,COUTEAU+FRAISE 5.5MM BTE/5 (Unite : UNIT?),0,NaN,NaN,NaN,NaN,NaN
5953295,5953295,AA16ABB,MAI,LU2,2024-07-23 10:27:30.730,328193,0,1607002116,FRAISE EN CARBURE STEIGER TETE DIAM 1.70 MM BT...,0,NaN,NaN,NaN,NaN,NaN
5953296,5953296,AA16ABB,MAI,LU2,2024-07-23 10:27:30.730,328193,0,5400050001,CASSETTES D'RRIGATION CORE MOTEUR U U BTE DE 1...,0,NaN,NaN,NaN,NaN,NaN

In [19]:
df.to_csv('table_clean_with_price.csv')